<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link th:href="@{/static/css/layui/layui.css}" rel="stylesheet">
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
    <style type="text/css">
        .site-doc-icon{margin-bottom: 50px; font-size: 0;}
        .site-doc-icon li{display: inline-block; vertical-align: middle; width: 127px; height: 105px; line-height: 25px; padding: 20px 0; margin-right: -1px; margin-bottom: -1px; border: 1px solid #e2e2e2; font-size: 14px; text-align: center; color: #666; transition: all .3s; -webkit-transition: all .3s;}
        .site-doc-anim li{height: auto;}
        .site-doc-icon li .layui-icon{display: inline-block; font-size: 36px;}

        .site-doc-icon li .doc-icon-name,
        .site-doc-icon li .doc-icon-code{color: #c2c2c2;}
        .site-doc-icon li .doc-icon-fontclass{height: 40px; line-height: 20px; padding: 0 5px; font-size: 13px; color: #333; }
        .site-doc-icon li:hover{background-color: #f2f2f2; color: #000;}
    </style>
</head>
<body>
<div class="layui-fluid" id="app">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header">
                    异常解决
                </div>
                <form class="form-horizontal m-t" name="update_deal_bug">
                <input id="to_exceptionTypeId" name="exceptionTypeId" th:value="${exceptionTypeId}" type="hidden">
                <input id="to_time" name="time" th:value="${time}" type="hidden">
                <input id="to_nickName" name="nickName" th:value="${nickName}" type="hidden">
                <input id="to_state" name="state" th:value="${state}" type="hidden">
                <input id="to_remark" th:value="${remark}" type="hidden">

                <div class="layui-card-body">
                    <ul class="site-doc-icon" style="margin-bottom: 20px;">
                        <li style="height: 140px;">
                            <i class="layui-icon layui-icon-face-smile"></i>
                            <div class="doc-icon-name">异常当前状态</div>
                            <div id="o_state" class="doc-icon-code"></div>
                        </li>
                        <li style="height: 140px;">
                            <i class="layui-icon layui-icon-time"></i>
                            <div class="doc-icon-name">异常处理时间</div>
                            <div id="o_time" class="doc-icon-code" ></div>
                        </li>

                        <li style="height: 140px;">
                            <i class="layui-icon layui-icon-username"></i>
                            <div class="doc-icon-name">异常处理人</div>
                            <div id="o_nickname" class="doc-icon-code" ></div>
                        </li>
                    </ul>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">异常状态：</label>
                        <div class="col-sm-8">
                            <select id="state" name="state" class="form-control">
                                <option value="0" selected="selected">待处理</option>
                                <option value="1">已处理</option>
                                <option value="2">处理中</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">变更备注：</label>
                        <div class="col-sm-8">
                            <textarea  style="height: 100px;margin-top: 25px;" id="remark" name="remark"  class="form-control">
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >标签内容：</label>
                        <div class="col-sm-8">
                            <input id="tag" class="form-control" type="text" th:value="${tag}">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <span @click="outDealBug()" class="btn btn-primary">提交</span>
                        </div>

                        <div id="result" >
                        </div>
                    </div>

                   </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var context = [[@{
        /}]];
</script>
<script th:src="@{/static/js/layui/layui.js}"></script>
<script th:src="@{/static/js/jquery.1.12.4.min.js}"></script>
<script th:src="@{/static/js/vue.2.6.11.js}"></script>
<script type="text/javascript">
    var time = $('#to_time').val();
    var nickname = $('#to_nickName').val();
    var state = $('#to_state').val();
    var remark = $('#to_remark').val();

    $('#o_time').html(time);
    $('#o_nickname').html(nickname);
    $('#remark').html(remark);

    var str = "";
    if(state == 0) {
      str = "<font color=red>待解决</font>"
    } else if(state == 1) {
      str = "<font color=green>已处理</font>"
    } else {
      str = "<font color=yellow>处理中</font>"
    }

    $('#o_state').html(str);
</script>
<script th:src="@{/static/js/modules/bugly/outUpdateBugly.js}"></script>
<!--<script src="https://unpkg.com/vconsole@3.3.4/dist/vconsole.min.js"></script>-->
<!--<script>var vConsole = new VConsole();-->
<!--  console.log('Hello world');-->
<!--</script></script>-->
</body>
</html>